body {
    color: #333;
}
main {
    background-color: #eee;
}
main h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
main p {
    text-align: center;
}

#img-div {
    background-color: white;
    margin: 20px;
}

#image {
    margin: 50px 100px;
    display: block;
    margin: 0px auto;
}
#img-caption {
    text-align: center;
    padding: 20px;
    font-size: 17px;
}

#tribute-info {
    margin: 60px auto;
    width: 600px;
    font-size: 20px;
}
#tribute-info h3 {
    text-align: center;
    padding-bottom: 20px;
}
#tribute-info ul li {
    line-height: 40px;
}

blockquote p {
    text-align: justify;
}
.link h3 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 21px;
}

.link a {
    color: blue;
}

@media (max-width: 460px) {
    img {
        max-width: 100%;
    }
    #tribute-info {
        font-size: 16px;
        max-width: 100%;
    }
    #tribute-info ul li {
        margin: 0 20px;
    }
}
